dpkg==1.17.27
sensible-utils==0.0.9
adobe_consulting_services_commons==1.0.0
communicator==4.79
adobe_consulting_services_commons==1.1.0
adobe_consulting_services_commons==1.2.0
adobe_consulting_services_commons==1.2.2
adobe_consulting_services_commons==1.2.4
aix==1.3
freebsd==1.1.5.1
windows==-
windows_nt==4.0
fta==9_12_370
ios==12.3\(2\)ja5
publisher==-
communicator==2.0
macos==-
aix==5.2.2
aix==7.1.0
aix==5.3.9
solaris==-
communicator==-
itunes==6.0.1
aix==4
aix==3.2.4
aix==5l
freebsd==2.0.5
communicator==4.5
windows_95==-
openmail==5.10
communicator==4.04
hp-ux==11.00
aix==5.3_l
awstats==6.5
communicator==4.0
communicator==4.6
hp-ux==10
communicator==4.73
aix==6.1.2
aix==5.2_l
aix==5.1
aix==7.2
hp-ux==-
aix==5
netware==-
publisher==2016
aix==3.2.5
aix==7.2.4.0
communicator==4.78
aix==2.2.1
os2==-
aix==3.1
aix==5.2
aix==5.3.0.10
outlook==2000
openmail==5.1
aix==7.1.5
sunos==5.5.1
communicator==4.77
aix==4.1.4
aix==7.2.0
aix==7.0
itunes==11.1.1
aix==4.1
aix==4.2.1.12
aix==5.2.0
aix==6.1.1
aix==7.2.2
aix==5.3
communicator==4.08
aix==4.0
sunos==5.5
aix==7.1.1
aix==4.3.3
mac_os_x==-
webtitan==3.50
aix==7.2.4
aix==6.1.0
netbsd==1.2
itunes==11.1.3
aix==4.2.0
communicator==4.06
aix==5.1l
communicator==4.8
aix==5.3.0.20
communicator==4.7
aix==4.3.0
aix==5.2.0.54
aix==5.3.0
aix==4.1.1
aix==5.3.8
communicator==4.74
communicator==4.75
lotus_domino_server==5.0.9
aix==5.3.7
communicator==4.01
aix==7.2.5
openmail==4.1
aix==4.1.5
spectrum_control==5.2.11
aix==1.2.1
aix==5.1.0.10
python-engineio==3.8.0
python-engineio==3.8.1
python-engineio==3.8.2
python-engineio==0.7.1
python-engineio==0.7.2
python-engineio==0.8.0
python-engineio==0.8.1
python-engineio==0.8.2
python-engineio==0.8.3
python-engineio==0.8.4
python-engineio==0.8.5
python-engineio==0.8.6
python-engineio==0.8.7
python-engineio==0.8.8
python-engineio==0.9.0
python-engineio==0.9.1
python-engineio==0.9.2
python-engineio==1.0.0
python-engineio==1.0.1
python-engineio==1.0.2
python-engineio==1.0.3
python-engineio==1.0.4
python-engineio==1.1.0
python-engineio==1.1.1
python-engineio==1.1.2
python-engineio==1.2.0
python-engineio==1.2.1
python-engineio==1.2.2
python-engineio==1.2.3
python-engineio==1.2.4
python-engineio==1.3.0
python-engineio==1.3.1
python-engineio==1.3.2
first_security_bank_sleepy_eye_mobile==3.0.0
pydio==6.5.5
pydio==7.0.0
pydio==4.3.4
pydio==5.0.0
pydio==7.0.1
pydio==7.0.2
pydio==7.0.3
pydio==7.0.4
pydio==8.0.0
pydio==8.0.1
pydio==8.0.2
pydio==8.2.0
mod_python==2.7.9
mod_python==2.7.7
mod_python==3.0.1
mod_python==3.0.2
mod_python==2.7.8
mod_python==3.0.3
snoopy==2.0.0-1
carbon_copy==5.0
carbon_copy==6.0
mod_python==3.1.4
mod_python==3.1.3
pyxdg==0.25
mod_python==3.0
antispyware==-
antispyware==1.0.509
zonealarm_anti-spyware==6.0
zonealarm_anti-spyware==6.1
yp_core-pyro==2.3
mod_python==3.2.7
copycentre_c75==1.001.02.073
copycentre_c75==-
copycentre_c90==1.001.02.074
copycentre_c65==1.001.02.074
copycentre_c90==1.001.02.073
copycentre_c65==-
copycentre_c75==1.001.02.074
copycentre_c65==1.001.02.073
copycentre_c90==-
pylon_anywhere==6.4.2
pylon_anywhere==5.5.4
pylon_anywhere==6.4.9
pylon_anywhere==6.3.2
pylon_anywhere==6.2.1
pylon_anywhere==6.4.8
antispyware==2005
antispyware==2006
antispyware_for_the_enterprise==8.0
antispyware_for_the_enterprise==8
antispyware_for_the_enterprise==8.1
anti-spyware==2007
snoopy==1.0
snoopy==1.2.3
snoopy==0.91
snoopy==1.01
snoopy==0.92
snoopy==1.2
snoopy==0.93
snoopy==1.2.1
snoopy==0.94
snoopy==1.2.2
anti-spyware_for_the_enterprise==8.1
anti-spyware==2008
happy_chat==1.0
anti-spyware_for_the_enterprise==r8
python-engineio==3.8.0
python-engineio==3.8.1
python-engineio==3.8.2
python-engineio==0.7.1
python-engineio==0.7.2
python-engineio==0.8.0
python-engineio==0.8.1
python-engineio==0.8.2
python-engineio=0.8.3
python-engineio==0.8.4
python-engineio==0.8.5
python-engineio==0.8.6
python-engineio=0.8.7
python-engineio=0.8.8
python-engineio=0.9.0
python-engineio=0.9.1
python-engineio=0.9.2
python-engineio=1.0.0
python-engineio=1.0.1
python-engineio=1.0.2
python-engineio=1.0.3
python-engineio=1.0.4
python-engineio=1.1.0
python-engineio=1.1.1
python-engineio=1.1.2
python-engineio=1.2.0
python-engineio=1.2.1
python-engineio=1.2.2
python-engineio=1.2.3
python-engineio=1.2.4
python-engineio=1.3.0
python-engineio=1.3.1
python-engineio=1.3.2
first_security_bank_sleepy_eye_mobile=3.0.0
pydio=6.5.5
pydio=7.0.0
pydio=4.3.4
pydio=5.0.0
pydio=7.0.1
pydio=7.0.2
pydio=7.0.3
pydio=7.0.4
pydio=8.0.0
pydio=8.0.1
pydio=8.0.2
pydio=8.2.0
mod_python=2.7.9
mod_python=2.7.7
mod_python=3.0.1
mod_python=3.0.2
mod_python=2.7.8
mod_python=3.0.3
snoopy=2.0.0-1
carbon_copy=5.0
carbon_copy=6.0
mod_python=3.1.4
mod_python=3.1.3
pyxdg=0.25
mod_python=3.0
antispyware=-
antispyware=1.0.509
zonealarm_anti-spyware=6.0
zonealarm_anti-spyware=6.1
yp_core-pyro=2.3
mod_python=3.2.7
copycentre_c75=1.001.02.073
copycentre_c75=-
copycentre_c90=1.001.02.074
copycentre_c65=1.001.02.074
copycentre_c90=1.001.02.073
copycentre_c65=-
copycentre_c75=1.001.02.074
copycentre_c65=1.001.02.073
copycentre_c90=-
pylon_anywhere==6.4.2
pylon_anywhere=5.5.4
pylon_anywhere=6.4.9
pylon_anywhere=6.3.2
pylon_anywhere=6.2.1
pylon_anywhere=6.4.8
antispyware=2005
antispyware=2006
antispyware_for_the_enterprise=8.0
antispyware_for_the_enterprise=8
antispyware_for_the_enterprise=8.1
anti-spyware=2007
snoopy=1.0
snoopy=1.2.3
snoopy=0.91
snoopy=1.01
snoopy=0.92
snoopy=1.2
snoopy=0.93
snoopy=1.2.1
snoopy=0.94
snoopy=1.2.2
anti-spyware_for_the_enterprise=8.1
anti-spyware=2008
happy_chat=1.0
anti-spyware_for_the_enterprise=r8
adobe_consulting_services_commons=1.0.0
communicator=4.79
adobe_consulting_services_commons=1.1.0
adobe_consulting_services_commons=1.2.0
adobe_consulting_services_commons=1.2.2
adobe_consulting_services_commons=1.2.4
aix=1.3
freebsd=1.1.5.1
windows=-
windows_nt=4.0
fta=9_12_370
ios=12.3\(2\)ja5
publisher=-
communicator=2.0
macos=-
aix=5.2.2
aix=7.1.0
aix=5.3.9
solaris=-
communicator=-
itunes=6.0.1
aix=4
aix=3.2.4
aix=5l
freebsd=2.0.5
communicator=4.5
windows_95=-
openmail=5.10
communicator=4.04
hp-ux=11.00
aix=5.3_l
awstats=6.5
communicator=4.0
communicator=4.6
hp-ux=10
communicator=4.73
aix=6.1.2
aix=5.2_l
aix=5.1
aix=7.2
hp-ux=-
aix=5
netware=-
publisher=2016
aix=3.2.5
aix=7.2.4.0
communicator=4.78
aix=2.2.1
os2=-
aix=3.1
aix=5.2
aix=5.3.0.10
outlook=2000
openmail=5.1
aix=7.1.5
sunos=5.5.1
communicator=4.77
aix=4.1.4
aix=7.2.0
aix=7.0
itunes=11.1.1
aix=4.1
aix=4.2.1.12
aix=5.2.0
aix=6.1.1
aix=7.2.2
aix=5.3
communicator=4.08
aix=4.0
sunos=5.5
aix=7.1.1
aix=4.3.3
mac_os_x=-
webtitan=3.50
aix=7.2.4
aix=6.1.0
netbsd=1.2
itunes=11.1.3
aix=4.2.0
communicator=4.06
aix=5.1l
communicator=4.8
aix=5.3.0.20
communicator=4.7
aix=4.3.0
aix=5.2.0.54
aix=5.3.0
aix=4.1.1
aix=5.3.8
communicator=4.74
communicator=4.75
lotus_domino_server=5.0.9
aix=5.3.7
communicator=4.01
aix=7.2.5
openmail=4.1
aix=4.1.5
spectrum_control=5.2.11
aix=1.2.1
aix=5.1.0.10
astunparse
expecttest!=0.1.0
hypothesis
numpy
psutil
pyyaml
requests
setuptools
types-dataclasses
typing-extensions=2.0.0
sympy
filelock
networkx
jinja2
fsspec
python_version >= "1.12"
packaging
